<h2>Moesta</h2>
<div class="input">
<p>ユーザー: <%= @blog.user.name %></p>
<p>内容    : <%= @blog.content %></p>
<p>Image: <%= image_tag @blog.image %></p>

<p id="notice"><%= notice %></p>
<% if @blog.user == current_user %>
<%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-warning' %>
<% end %>

<% unless @blog.user == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'Unliked', favorite_path(blog_id: @blog.id), method: :delete, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'Like♡', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-danger' %>
  <% end %>
<% end %>

<%= link_to 'Back', blogs_path, class: 'btn btn-success'  %>