<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>


<h2>お気に入り一覧</h2>

<h3>内容</h3>

<% @favorites.each do |favorite| %>
    <% favorite.user.id == current_user.id %>
    <p><%= favorite.content %></p>
    <p><%= image_tag(favorite.image_url) if favorite.image.present?%></p>
    <br>
<% end %>

<br>
<div id="new-insta-link">
    <%= link_to 'tweetページへ',blogs_path,class: 'btn btn-info' %>
</div>




