<%= form_with(model: @insta, local: true ,url: choose_new_or_edit) do |form| %>
  <% if @insta.errors.any? %>
    <div id="error_explanation">
      <h2><%= @insta.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @insta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="insta_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
   
   <div class="insta_image"><%= image_tag(@insta.image.url) if @insta.image.present? %></div>
   <%= hidden_field_tag :"cache[image]", @insta.image.cache_name%>
   
   <%= form.submit %>
<% end %>

<%= link_to "ブログ一覧画面", instas_path %>